footer{
    background: rgba(0, 0, 0, 0.815);
    overflow-x: hidden;
    padding: 14vmin 18vmin;
}
footer p>span{
    color: skyblue;
}
footer input{
    border: none !important;
}
footer input::placeholder{
    color: white !important;
}
footer .input-group .input-group-text{
    background: var(--bggradient);
    border: none;
}
footer .column i{
    color: var(--bggradient);
}
footer .column i+i{
    padding: 0 0.5em;
}