<div class="container">
  <div class="mt-5">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/main']">Admin Page</a></li>
      <li class="breadcrumb-item active" aria-current="page">Videos Page</li>
    </ol>
  </nav>
</div>
<div class="row mb-5">
  <div class="search-div">
    <button mat-raised-button (click)="onCreate()">
      <mat-icon>add</mat-icon>Create
  </button>
    <mat-form-field class="search-form-field">
        <input matInput [(ngModel)]="searchKey" placeholder="search" autocomplete="off" (keyup)="applyFilter()">
        <button mat-button *ngIf="searchKey" matSuffix mat-icon-button aria-label="Clear" (click)="onClear()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
  </div>
  <div class="container-fluid">
    <div class="mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Tour Id</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="videoName">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
                <mat-cell *matCellDef="let element" >{{element.videoName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef mat-sort-header> description</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.description | slice:0:25 }}...</mat-cell>
            </ng-container>
            <ng-container matColumnDef="videoUrl">
              <mat-header-cell *matHeaderCellDef mat-sort-header>videoUrl</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.videoUrl}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="created">
              <mat-header-cell *matHeaderCellDef mat-sort-header>created</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.created | date}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <button mat-icon-button (click)="EditVideo(row.id, row.videoName , row.description, row.videoUrl, row.created)"><mat-icon>edit</mat-icon> </button>
                      <button mat-icon-button color="warn" (click)="delete(row.id)" ><mat-icon>delete_outline</mat-icon></button>
                    </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSize]="8" [pageSizeOptions]="[3, 5, 8, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    </div>
    </div>

</div>
